extends ../layout


block content
    h1 lectures:index

    ul
        for lecture in lectures
            li
                h3= lecture.title
                p= lecture.description
                p= lecture.teacher
