extends ../layout


block content
    div.container
        div.row
            h2
                a(href="/lectures/" + lecture._id + "/")= lecture.title
            h1= lesson.lesson_title
            p= lesson.lesson_body
