extends ../layout


block content
    div.container
        div.row
            h1 회원가입

            if errors
                ul
                    for error in errors
                        li= error.msg

            div.col.s12
                form(action="/signup/" method="POST")
                    div.row
                        div.input-field
                            select(name="type")
                                option(value="" disabled selected) 타입을 선택하세요.
                                option(value="student") 수강생
                                option(value="teacher") 강사
                            label Type

                    div.row
                        div.input-field
                            input(type="text" name="username")
                            label(for="username") Username

                    div.row
                        div.input-field
                            input(type="text" name="name")
                            label(for="name") Name

                    div.row
                        div.input-field
                            input(type="email" name="email")
                            label(for="email") Email

                    div.row
                        div.input-field
                            input(type="password" name="password")
                            label(for="password") 비밀번호

                    div.row
                        div.input-field
                            input(type="password" name="password2")
                            label(for="password2") 비밀번호 재입력

                    div.row
                        div.input-field
                            button.btn.waves-effect.waves-light
                                input(type="submit" value="회원가입")
